@page "/{author}"
@using Chirp.Core
@using Chirp.Core.DTOs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

    var authorName = HttpContext.GetRouteValue("author");
    int pageNumber = Model.PageNumber;
    int totalPages = Model.TotalPageNumber == 0 ? 1 : Model.TotalPageNumber;
    AuthorDTO? userAuthor = Model.UserAuthor;
    int authorKarma = Model.AuthorKarma;
    AuthorDTO pageAuthor = Model.PageAuthor;
    var cheepListViewModel = new Chirp.Web.ViewModels.CheepListViewModel(Model._service, Model.Cheeps)
    {
        UserAuthor = Model.UserAuthor
    };
}

<div>
    <div class="timeline-header">
        <a class="timeline-button" href="/">
            <button >Back</button>
        </a>
        <h2> @authorName's Timeline </h2>
    </div>
    <div class="Profile-Picture-Header">
        @if (pageAuthor.ProfilePicture == null)
        {
            <img class="Profile-Picture" src="~/images/DefaultUser.png" alt="User profile image"/>
        }
        else
        {
            <img class="Profile-Picture" src="data:jpeg;base64,@pageAuthor.ProfilePicture" alt="User profile image"/>
        }
    </div>
    <div class="stat-container">
        <div class="border">
            <div class="karma-counter-container">
                <h3>Karma: @authorKarma</h3>
            </div>
            <div class="followcontainer">
                <div>
                    <a class="button" href="#popup1">
                        <h3>Followers: @Model.FollowingMeList.Count</h3>
                    </a>
                </div>
                <div>
                    <a class="button" href="#popup2">
                        <h3>Following: @Model.FollowingList.Count</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Followers:</h2>
            <a class="close" href="#">×</a>
            <div class="content">
                @if (Model.FollowingMeList.Count > 0)
                {
                    @foreach (var author in Model.FollowingMeList)
                    {
                        <li>
                            <a href="/@author">@author</a>
                            @if (User.Identity != null && User.Identity.IsAuthenticated && author != User.Identity.Name && userAuthor != null)
                            {
                                <form method="post">
                                    @if (!userAuthor.AuthorsFollowed.Contains(author))
                                    {
                                        <input type="hidden" name="followedAuthorName" value="@author"/>
                                        <input type="hidden" name="currentAuthorPageName" value="@authorName"/>
                                        <button id="followButton" type="submit" asp-page-handler="FollowMethod">Follow</button>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="followedAuthor" value="@author"/>
                                        <input type="hidden" name="currentAuthorPageName" value="@authorName"/>
                                        <button id="unfollowButton" type="submit" asp-page-handler="UnfollowMethod">Unfollow</button>
                                    }
                                </form>
                            }
                        </li>
                    }
                }
                else
                {
                    <p>No users are following this user.</p>
                }
            </div>
        </div>
    </div>
    <div id="popup2" class="overlay">
        <div class="popup">
            <h2>"@authorName" is following:</h2>
            <a class="close" href="#">×</a>
            <div class="content">
                @if (Model.FollowingList.Count > 0)
                {
                    @foreach (var author in Model.FollowingList)
                    {
                        <li>
                            <a href="/@author">@author</a>
                            @if (User.Identity != null && User.Identity.IsAuthenticated && author != User.Identity.Name && userAuthor != null)
                            {
                                <form method="post">
                                    @if (!userAuthor.AuthorsFollowed.Contains(author))
                                    {
                                        <input type="hidden" name="followedAuthorName" value="@author"/>
                                        <input type="hidden" name="currentAuthorPageName" value="@authorName"/>
                                        <button id="followButton" type="submit" asp-page-handler="FollowMethod">Follow</button>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="followedAuthor" value="@author"/>
                                        <input type="hidden" name="currentAuthorPageName" value="@authorName"/>
                                        <button id="unfollowButton" type="submit" asp-page-handler="UnfollowMethod">Unfollow</button>
                                    }
                                </form>
                            }
                        </li>
                    }
                }
                else
                {
                    <p>No users are following this user.</p>
                }
            </div>
        </div>
    </div>

    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        @* Render the Share Form Partial View *@
        {
            ViewData["pageNumber"] = pageNumber;
        }
        @await Html.PartialAsync("_ShareCheepForm", Model.SharedViewModel)
    }
    
    @await Html.PartialAsync("_CheepList", cheepListViewModel)
    
    <div style="text-align: center;">
        <div style="display: inline-block;">
            @if (@pageNumber != 1)
            {
                <a href="/@authorName?page=1" style="text-decoration: none;">
                    <button style="display: inline; margin: 0;">&lt;&lt;</button>
                </a>
                <a href="/@authorName?page=@(pageNumber - 1)" style="text-decoration: none; margin-right: 15px;">
                    <button style="display: inline; margin: 0;">&lt;</button>
                </a>
            }
            <p style="display: inline; margin: 0; margin-right: 15px;">Page @pageNumber / @totalPages</p>
            @if (@pageNumber != @totalPages)
            {
                <a href="/@authorName?page=@(pageNumber + 1)" style="text-decoration: none;">
                    <button style="display: inline; margin: 0;">&gt;</button>
                </a>
                <a href="/@authorName?page=@totalPages" style="text-decoration: none;">
                    <button style="display: inline; margin: 0;">&gt;&gt;</button>
                </a>
            }

        </div>
    </div>
</div>