@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    
    int pageNumber = Model.pageNumber;

}

<div xmlns="http://www.w3.org/1999/html">
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    <div>
        @if (@pageNumber != 1)
        {
            <a href="/?page=@(pageNumber - 1)"><p>Previous Page: @(pageNumber - 1)</p></a>
        }
        <p>Current page: @pageNumber</p>
        <a href="/?page=@(pageNumber + 1)"><p>Next Page: @(pageNumber + 1)</p></a>
    </div>
    
    
</div>
